<?xml version='1.0' encoding='windows-1252'?>
<!--
  WiX v4+ installer for smtpspammer.
  Built with cargo-wix (https://github.com/volks73/cargo-wix).
-->
<Wix xmlns='http://wixtoolset.org/schemas/v4/wxs'
     xmlns:ui='http://wixtoolset.org/schemas/v4/wxs/ui'>

  <?if $(var.PlatformArch) = x64 or $(var.PlatformArch) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif?>

  <Package
    Name='smtpspammer'
    UpgradeCode='66750EFC-EE3E-4CD4-A5C0-F700BF1B58C0'
    Manufacturer='Ari Cummings'
    Language='1033'
    Codepage='1252'
    Version='$(var.Version)'
    Scope='perMachine'
    InstallerVersion='450'>

    <MajorUpgrade
      Schedule='afterInstallInitialize'
      DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

    <MediaTemplate EmbedCab='yes' />

    <Property Id='DiskPrompt' Value='smtpspammer Installation'/>

    <StandardDirectory Id='$(var.PlatformProgramFilesFolder)'>
      <Directory Id='APPLICATIONFOLDER' Name='smtpspammer'>

        <Component Id='binary0' Guid='*'>
          <File
            Id='exe0'
            Name='smtpspammer.exe'
            Source='$(var.CargoTargetBinDir)\smtpspammer.exe'
            KeyPath='yes'/>
        </Component>

        <Component Id='Path' Guid='*' KeyPath='yes'>
          <Environment
            Id='PATH'
            Name='PATH'
            Value='[APPLICATIONFOLDER]'
            Permanent='no'
            Part='last'
            Action='set'
            System='yes'/>
        </Component>

      </Directory>
    </StandardDirectory>

    <Feature
      Id='Binaries'
      Title='Application'
      Description='Installs the smtpspammer executable.'
      Level='1'
      ConfigurableDirectory='APPLICATIONFOLDER'
      AllowAdvertise='no'
      Display='expand'
      Absent='disallow'>

      <ComponentRef Id='binary0'/>

      <Feature
        Id='Environment'
        Title='PATH Environment Variable'
        Description='Add the install location of [ProductName] to the PATH system environment variable. This allows smtpspammer to be called from any location.'
        Level='1'
        Absent='allow'>
        <ComponentRef Id='Path'/>
      </Feature>

    </Feature>

    <SetDirectory Id='APPLICATIONFOLDER' Value='[$(var.PlatformProgramFilesFolder)]smtpspammer'/>

    <ui:WixUI Id='WixUI_FeatureTree'/>

  </Package>

</Wix>
